- content_for(:page_title) { @scheme.errors.any? ? page_title('Errors on page - Add a new scheme') : page_title('Add a new scheme') }

.govuk-width-container
  = link_to "Back to all schemes", schemes_path, class: "govuk-back-link"

  = render partial: 'partials/error_block', locals: { record: @scheme }
  .govuk-grid-row
    .govuk-grid-column-full
      %fieldset.govuk-fieldset
        %legend.govuk-fieldset__legend.govuk-fieldset__legend--xl
          %h1.govuk-fieldset__heading= t('schemes.new_heading')

        .govuk-grid-row{class: 'govuk-!-margin-top-7'}
          .govuk-grid-column-two-thirds-from-desktop
            = simple_form_for @scheme do |f|
              - if params[:development_id]
                = hidden_field_tag :development_id, params[:development_id]
              = render partial: 'form', locals: {f: f}
              .govuk-form-group
                = f.submit t('buttons.submit'), class: "govuk-button govuk-!-margin-right-1"
