.govuk-form-group
  = form.input :reference_id, input_html: { class: "govuk-input govuk-input--width-5" }, label: 'Unit Number'
.govuk-form-group
  = form.input :tenure, collection: Dwelling::TENURES, wrapper: :select
.govuk-form-group
  = form.input :habitable_rooms, input_html: { class: "govuk-input govuk-input--width-2" }, label: 'Number of habitable rooms', hint: raw("<span class='govuk-hint'>A room within a dwelling, the main purpose of which is for sleeping, living or dining. It is any room with a window that could be used to sleep in, regardless of what it is actually used for. This excludes toilets, bathrooms, landings, halls and lobbies, and also excludes kitchens with an overall floor area of less than 11 square metres.</span><span class='govuk-hint'>Any room exceeding 27.5m2 should be counted as 2 rooms for the purposes of monitoring affordable housing.</span>")
.govuk-form-group
  = form.input :bedrooms, input_html: { class: "govuk-input govuk-input--width-2" }, label: 'Number of bedrooms'
.govuk-form-group
  .govuk-checkboxes
    = form.input :studio, wrapper: :inline_checkbox, required: true
.govuk-form-group
  .govuk-checkboxes
    = form.input :wheelchair_accessible, wrapper: :inline_checkbox, required: true
.govuk-form-group
  .govuk-checkboxes
    = form.input :wheelchair_adaptable, wrapper: :inline_checkbox, required: true
- if @development.audit_changes?
  .govuk-form-group
    = form.input :audit_comment, label: 'Reason for changes to legal agreement', required: true
  .govuk-form-group
    = form.input :audit_planning_application_id, label: 'Planning application this change was agreed in', collection: form.object.development.planning_applications.collect {|pa| [pa.application_number, pa.id]}, wrapper: :select, include_blank: 'None'
