- content_for(:page_title) { page_title('Edit dwelling') }

.govuk-width-container
  = link_to "Back", development_dwellings_path(@development), class: "govuk-back-link"

  = render partial: 'partials/error_block', locals: { record: @dwelling }
  .govuk-grid-row
    .govuk-grid-column-full
      %h1.govuk-heading-xl Edit dwelling

      = simple_form_for([@development, @dwelling]) do |form|
        = render partial: 'fields', locals: { form: form }
        = form.submit 'Save dwelling', class: "govuk-button"

      = form_for([@development, @dwelling], method: :delete) do |form|
        = form.submit 'Delete dwelling', data: {confirm: 'Are you sure?'}, class: "govuk-button govuk-button--warning"
