- content_for(:page_title) { @dwelling.errors.any? ? page_title('Errors on page - Edit dwelling') : page_title('Edit dwelling') }

.govuk-width-container
  = link_to "Back to dwellings", development_dwellings_path(@development), class: "govuk-back-link"

  = render partial: 'partials/error_block', locals: { record: @dwelling }
  .govuk-grid-row
    .govuk-grid-column-full
      %h1.govuk-heading-xl Edit dwelling

      = simple_form_for([@development, @dwelling]) do |form|
        = render partial: 'fields', locals: { form: form }
        = form.submit 'Save dwelling', class: "govuk-button govuk-!-margin-right-1"

        = link_to 'Delete dwelling', delete_development_dwelling_path(@development, @dwelling), class: "govuk-button govuk-button--secondary", "aria-label": "Delete dwelling #{@dwelling.reference_id}"
