%table
  %tr
    %th Tenure
    %th Number of habitable rooms
    %th Number of bedrooms
    %th Actions

  - @dwellings.each do |dwelling|
    %tr
      %td= dwelling.tenure
      %td= dwelling.habitable_rooms
      %td= dwelling.bedrooms
      %td= link_to 'edit', edit_development_dwelling_path(@development, dwelling)

= form_for([@development, @dwelling]) do |form|
  = render partial: 'fields', locals: { form: form }
  = form.submit 'Add dwelling'
