%header.govuk-header{"data-module": "govuk-header", role: "banner"}
  .govuk-header__container.govuk-width-container
    .govuk-header__logo
      = link_to root_path, class: 'govuk-header__link govuk-header__link--homepage', 'aria-label': "#{current_user ? 'View your dashboard' : 'Go to log in page' }" do
        %span.govuk-header__logotype
          -# = image_tag 'logo-white.png', alt: "Southwark Council logo"
    .govuk-header__content
      = link_to t('service_name'), root_path, class: 'govuk-header__link govuk-header__link--service-name', 'aria-label': "#{current_user ? 'View your dashboard' : 'Go to log in page' }"
      %button.govuk-header__menu-button.govuk-js-header-toggle{"aria-controls": "navigation", "aria-label": "Show or hide Top Level Navigation", role: "button", type: "button"} Menu
      %nav
        %ul#navigation.govuk-header__navigation{"aria-label": "Top Level Navigation"}
          - if current_user
            %li.govuk-header__navigation-item
              Logged in as
              = current_user.email
            %li.govuk-header__navigation-item
              = button_to t('authentication.log_out'), destroy_user_session_path, method: :delete, class: "button-as-link govuk-header__link"
