.govuk-grid-row
  .govuk-grid-column-full
    - ['habitable_room', 'dwelling'].each do |type|
      %h2.govuk-heading-l By #{type.humanize}
      .govuk-grid-column-two-thirds
        .chart-wrapper{class: 'govuk-!-margin-top-9'}
          %canvas{id: "#{type}Chart"}
          :javascript
            var tenuresStats = [
              #{@dwellings_statistics.send("#{type}_count",tenure: 'open')},
              #{@dwellings_statistics.send("#{type}_count",tenure: 'intermediate')},
              #{@dwellings_statistics.send("#{type}_count",tenure: 'social')}
            ]
            var chart1 = document.getElementById('#{type}Chart');
            var #{type}Chart = new Chart(chart1, {
              type: 'horizontalBar',
              data: {
                labels: ['Market', 'Intermediate', 'Social'],
                datasets: [{
                  label: 'Number of #{type.pluralize.humanize.downcase}',
                  data: tenuresStats,
                  backgroundColor: [
                    'rgba(37, 111, 138, 0.7)',
                    'rgba(54, 162, 235, 0.7)',
                    'rgba(255, 206, 86, 0.7)'
                  ],
                  borderColor: [
                    'rgba(37, 111, 138, 0.9)',
                    'rgba(54, 162, 235, 0.9)',
                    'rgba(255, 206, 86, 0.9)'
                  ],
                  borderWidth: 0
                }]
              },
              options: {
                title: {
                  display: true,
                  position: 'top',
                  text: 'Number of #{type.pluralize.humanize.downcase} by tenure',
                  fontFamily: "'myriad-pro', 'HelveticaNeue', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif",
                  fontColor: '#0b0c0c',
                  fontSize: 19,
                  fontStyle: 'bold'
                },
                legend: {
                  display: false,
                },
                responsive: true,
                maintainAspectRatio: false,
                aspectRatio: 3,
                scales: {
                  xAxes: [{
                    ticks: {
                      beginAtZero: true,
                      maxTicksLimit: 15
                    },
                    scaleLabel: {
                      display: true,
                      fontFamily: "'myriad-pro', 'HelveticaNeue', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif",
                      fontColor: '#0b0c0c',
                      fontSize: 14,
                      fontStyle: 'bold',
                      labelString: 'Number of #{type.pluralize.humanize}'
                    }
                  }],
                  yAxes: [{
                    scaleLabel: {
                      display: true,
                      fontFamily: "'myriad-pro', 'HelveticaNeue', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif",
                      fontColor: '#0b0c0c',
                      fontSize: 14,
                      fontStyle: 'bold',
                      labelString: 'Tenure'
                    },
                    // stacked: true
                  }]
                }
              }
            });

      .govuk-grid-column-one-third
        .chart-wrapper{class: 'govuk-!-margin-top-9'}
          %canvas{id: "#{type}Pie"}
        :javascript
          var affordable = #{@dwellings_statistics.send("affordable_#{type}s_percentage")}
          var other = #{@dwellings_statistics.send("open_#{type}s_percentage")}
          var chart2 = document.getElementById('#{type}Pie');
          var #{type}Pie = new Chart(chart2, {
            type: 'pie',
            data: {
            datasets: [{
              data: [affordable, other],
              backgroundColor: [
                'rgba(37, 111, 138, 0.8)',
                'rgba(37, 111, 138, 0.2)'
              ],
              hoverBorderWidth: 0
            }],
            // These labels appear in the legend and in the tooltips when hovering different arcs
            labels: [
              'Affordable',
              'Market'
            ]},
            options: {
              cutoutPercentage: 0,
              title: {
                display: true,
                position: 'top',
                text: '% affordable #{type.pluralize.humanize.downcase}',
                fontFamily: "'myriad-pro', 'HelveticaNeue', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif",
                fontColor: '#0b0c0c',
                fontSize: 19,
                fontStyle: 'bold'
              },
              legend: {
                position: 'bottom',
                fontFamily: "'myriad-pro', 'HelveticaNeue', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif",
                fontColor: '#0b0c0c',
              }
            }
          });

      %table.govuk-table
        %thead.govuk-table__head
          %tr.govuk-table__row
            %th{class: "govuk-table__header", scope: "col"} #{type.humanize} Type
            %th{class: "govuk-table__header", scope: "col"} Market #{type.pluralize.humanize}
            %th{class: "govuk-table__header", scope: "col"} Social Rented #{type.pluralize.humanize}
            %th{class: "govuk-table__header", scope: "col"} Intermediate #{type.pluralize.humanize}
            %th{class: "govuk-table__header", scope: "col"} Total #{type.pluralize.humanize}
        - if @dwellings_statistics.any_studios?
          %tbody.govuk-table__body
            %tr.govuk-table__row
              %th.govuk-table__header{scope: "row"} Studio
              %td.govuk-table__cell= @dwellings_statistics.send("#{type}_count", tenure: 'open', studio: true)
              %td.govuk-table__cell= @dwellings_statistics.send("#{type}_count", tenure: 'social', studio: true)
              %td.govuk-table__cell= @dwellings_statistics.send("#{type}_count", tenure: 'intermediate', studio: true)
              %td.govuk-table__cell= @dwellings_statistics.send("#{type}_count", studio: true)
        - (1..@dwellings_statistics.max_bedrooms).each do |bedroom_count|
          %tbody.govuk-table__body
            %tr.govuk-table__row
              %th.govuk-table__header{scope: "row"}= pluralize(bedroom_count, 'Bedroom')
              %td.govuk-table__cell= @dwellings_statistics.send("#{type}_count", tenure: 'open', bedrooms: bedroom_count, studio: false)
              %td.govuk-table__cell= @dwellings_statistics.send("#{type}_count", tenure: 'social', bedrooms: bedroom_count, studio: false)
              %td.govuk-table__cell= @dwellings_statistics.send("#{type}_count", tenure: 'intermediate', bedrooms: bedroom_count, studio: false)
              %td.govuk-table__cell= @dwellings_statistics.send("#{type}_count", bedrooms: bedroom_count, studio: false)
        %tbody.govuk-table__body
          %tr.govuk-table__row
            %th.govuk-table__header{scope: "row"} Total
            %td.govuk-table__cell= @dwellings_statistics.send("#{type}_count", tenure: 'open')
            %td.govuk-table__cell= @dwellings_statistics.send("#{type}_count", tenure: 'social')
            %td.govuk-table__cell= @dwellings_statistics.send("#{type}_count", tenure: 'intermediate')
            %td.govuk-table__cell= @dwellings_statistics.send("#{type}_count")
