= link_to 'Add a new dwelling', new_development_dwelling_path(@development), class: 'govuk-button', 'aria-label': "Add a new dwelling to #{@development.primary_application_number}" unless @development.completed?

= render 'developments/developer_and_rp_response_given' if @development.completion_response_filled?

%p.govuk-body-l= pluralize(@development.dwellings.count, 'dwelling')

.table-scrollable
  %table.govuk-table
    %caption.govuk-table__caption.govuk-visually-hidden Dwellings
    %thead.govuk-table__head
      %tr.govuk-table__row
        %th{class: "govuk-table__header", scope: "col"} Unit Number
        %th{class: "govuk-table__header", scope: "col"} Tenure
        %th{class: "govuk-table__header govuk-table__header--numeric", scope: "col"} Habitable rooms
        %th{class: "govuk-table__header govuk-table__header--numeric", scope: "col"} Bedrooms
        %th{class: "govuk-table__header", scope: "col"} Studio
        %th{class: "govuk-table__header", scope: "col"} Wheelchair Accessible
        %th{class: "govuk-table__header", scope: "col"} Wheelchair Adaptable
        %th{class: "govuk-table__header", scope: "col"} Last updated
        - if @development.completed?
          %th{class: "govuk-table__header", scope: "col"} Address
          %th{class: "govuk-table__header", scope: "col"} UPRN
          %th{class: "govuk-table__header", scope: "col"} Registered provider
          %th{class: "govuk-table__header", scope: "col"} Tenure Product
          %th{class: "govuk-table__header", scope: "col"} RP Internal ID
        %th{class: "govuk-table__header", scope: "col"} Actions

    %tbody.govuk-table__body
      -@development.dwellings.order(:created_at).each do |dwelling|
        %tr.govuk-table__row
          %th.govuk-table__header{scope: "row"}= dwelling.reference_id
          %td.govuk-table__cell= dwelling.tenure
          %td.govuk-table__cell.govuk-table__cell--numeric=dwelling.habitable_rooms
          %td.govuk-table__cell.govuk-table__cell--numeric=dwelling.bedrooms
          %td.govuk-table__cell= dwelling.studio
          %td.govuk-table__cell= dwelling.wheelchair_accessible
          %td.govuk-table__cell= dwelling.wheelchair_adaptable
          %td.govuk-table__cell= distance_of_time_in_words(dwelling.updated_at, Time.now) + " ago"
          - if @development.completed?
            %td.govuk-table__cell= dwelling.address.present? ? dwelling.address : 'Not yet supplied'
            %td.govuk-table__cell= dwelling.uprn.present? ? dwelling.uprn : 'Not yet supplied'
            %td.govuk-table__cell= dwelling.registered_provider.present? ? dwelling.registered_provider.name : 'Not yet supplied'
            %td.govuk-table__cell= dwelling.tenure_product.present? ? dwelling.tenure_product : 'Not yet supplied'
            %td.govuk-table__cell= dwelling.rp_internal_id.present? ? dwelling.rp_internal_id : 'Not yet supplied'
          %td.govuk-table__cell= link_to 'Edit', edit_development_dwelling_path(@development, dwelling), class: "govuk-link", "aria-label": "Edit dwelling #{dwelling.reference_id}"
