.govuk-form-group
  = f.label :application_number
  = f.text_field :application_number

.govuk-form-group
  = f.label :site_address
  = f.text_field :site_address

.govuk-form-group
  = f.label :proposal
  = f.text_field :proposal
