.govuk-form-group
  = f.label :application_number, class: "govuk-label"
  = f.text_field :application_number, class: "govuk-input govuk-input--width-20"

.govuk-form-group
  = f.label :site_address, class: "govuk-label"
  = f.text_field :site_address, class: "govuk-input govuk-input--width-20"

.govuk-form-group
  = f.label :proposal, class: "govuk-label"
  = f.text_field :proposal, class: "govuk-input govuk-input--width-20"
