.govuk-form-group
  = f.input :name, input_html: { class: "govuk-input" }

.govuk-form-group
  = f.input :site_address

.govuk-form-group
  = f.input :proposal, input_html: { 'rows': 5 }, wrapper: :textarea

- if @development.audit_changes?
  .govuk-form-group
    = f.input :audit_comment, label: 'Reason for changes to legal agreement'
  .govuk-form-group
    = f.input :audit_planning_application_id, label: 'Planning application change was agreed', collection: f.object.planning_applications.collect {|pa| [pa.application_number, pa.id]}, wrapper: :select, include_blank: 'None'
