- content_for(:page_title) { page_title("Mark development #{@development.primary_application_number} as agreed") }

.govuk-width-container
  = link_to "Back to development", developments_path, class: "govuk-back-link"
  .govuk-grid-row
    .govuk-grid-column-two-thirds-from-desktop
      %h1.govuk-heading-l Mark development #{@development.primary_application_number} as agreed

      = render 'partials/statuses'

      .govuk-warning-text
        %span.govuk-warning-text__icon{"aria-hidden" => "true"} !
        %strong.govuk-warning-text__text
          %span.govuk-warning-text__assistive Warning
          Once you agree, any changes will require an audit log.

      = form_for @development, url: agree_development_path(@development) do |form|
        = form.submit 'Mark as agreed', class: "govuk-button"
