- content_for(:page_title) { page_title("Mark development #{@development.application_number} as completed") }

.govuk-width-container
  = link_to "Back", developments_path, class: "govuk-back-link"
  .govuk-grid-row
    .govuk-grid-column-full-from-desktop
      %h1.govuk-heading-l Mark development #{@development.application_number} as completed

      = form_for @development, url: complete_development_path(@development) do |form|
        = form.submit 'Mark as completed', class: "govuk-button"
