- content_for(:page_title) { @development.errors.any? ? page_title("Errors on page - Edit development #{@development.primary_application_number}") : page_title("Edit development #{@development.primary_application_number}") }

.govuk-width-container
  = link_to "Back to development", development_path(@development), class: "govuk-back-link"

  = render partial: 'partials/error_block', locals: { record: @development }
  .govuk-grid-row
    .govuk-grid-column-full
      %fieldset.govuk-fieldset
        %legend.govuk-fieldset__legend.govuk-fieldset__legend--xl
          %h1.govuk-fieldset__heading Edit details of development

        .govuk-grid-row{class: 'govuk-!-margin-top-7'}
          .govuk-grid-column-two-thirds-from-desktop
            = simple_form_for @development do |f|
              = render partial: 'form', locals: {f: f}
              .govuk-form-group
                = f.submit t('buttons.submit'), class: "govuk-button govuk-!-margin-right-1"

            - if @development.draft?
              = simple_form_for(@development, method: :delete) do |form|
                %p= form.submit 'Delete development', data: {confirm: 'Are you sure?'}, class: "govuk-button govuk-button--warning"
