= form_for @development do |form|
  = form.label :application_number
  = form.text_field :application_number
  = form.label :site_address
  = form.text_field :site_address
  = form.label :proposal
  = form.text_field :proposal
  = form.submit
