- content_for(:page_title) { @development.errors.any? ? page_title('Errors on page - Add a new development') : page_title('Add a new development') }

.govuk-width-container
  = link_to "Back to all developments", developments_path, class: "govuk-back-link"

  = render partial: 'partials/error_block', locals: { record: @development }
  .govuk-grid-row
    .govuk-grid-column-full
      %fieldset.govuk-fieldset
        %legend.govuk-fieldset__legend.govuk-fieldset__legend--xl
          %h1.govuk-fieldset__heading= t('developments.new_heading')

        .govuk-grid-row{class: 'govuk-!-margin-top-7'}
          .govuk-grid-column-two-thirds-from-desktop
            = simple_form_for @development do |f|
              = render partial: 'form', locals: {f: f}
              = f.fields_for :planning_applications do |planning_application_form|
                .govuk-warning-text
                  %span.govuk-warning-text__icon{"aria-hidden" => "true"} !
                  %strong.govuk-warning-text__text
                    %span.govuk-warning-text__assistive Warning
                    Developments must have at least one planning application. You can add more later.
                .govuk-form-group
                  = planning_application_form.input :application_number, input_html: { class: "govuk-input govuk-input--width-10" }
              .govuk-form-group
                = f.submit t('buttons.submit'), class: "govuk-button govuk-!-margin-right-1"
