- content_for(:page_title) { @development.errors.any? ? page_title('Errors on page - Add a new development') : page_title('Add a new development') }

.govuk-width-container
  = render partial: 'partials/error_block', locals: { record: @development }
  .govuk-grid-row
    .govuk-grid-column-full
      %fieldset.govuk-fieldset
        %legend.govuk-fieldset__legend.govuk-fieldset__legend--xl
          %h1.govuk-fieldset__heading= t('developments.new_heading')

        .govuk-grid-row{class: 'govuk-!-margin-top-7'}
          .govuk-grid-column-two-thirds-from-desktop
            = simple_form_for @development do |f|
              = render partial: 'form', locals: {f: f}
              .govuk-form-group
                = f.submit t('buttons.submit'), class: "govuk-button govuk-!-margin-right-1"
                = link_to t('buttons.cancel'), developments_path, class: "govuk-button govuk-button--secondary", "data-module": "govuk-button"
