- content_for(:page_title) { page_title("Development " + @development.application_number) }

.govuk-width-container
  = link_to "Back to all developments", developments_path, class: "govuk-back-link"
  .govuk-grid-row
    .govuk-grid-column-full-from-desktop
      %h1.govuk-heading-xl Development #{@development.application_number}

      - if @development.completion_response_needed?
        = render 'developer_response_required'
      - if @development.completion_response_filled?
        = render 'developer_response_given'

      %dl.govuk-summary-list{:class => "govuk-!-margin-bottom-9"}

        .govuk-summary-list__row
          %dt.govuk-summary-list__key
            Name
          %dd.govuk-summary-list__value
            %p.govuk-body= @development.name || 'Not yet added'
          %dd.govuk-summary-list__actions
            = link_to edit_development_path(@development), class: "govuk-link" do
              Edit
              %span.govuk-visually-hidden name

        .govuk-summary-list__row
          %dt.govuk-summary-list__key
            Status
          %dd.govuk-summary-list__value
            %p.govuk-tag{class: "govuk-tag-#{@development.state}"}= @development.state.titleize
          %dd.govuk-summary-list__actions
            - case @development.state
            - when 'draft'
              = link_to agree_confirmation_development_path(@development), class: "govuk-link" do
                Mark as agreed
            - when 'agreed'
              = link_to start_confirmation_development_path(@development), class: "govuk-link" do
                Mark as started
            - when 'started'
              = link_to complete_confirmation_development_path(@development), class: "govuk-link" do
                Mark as completed

        .govuk-summary-list__row
          %dt.govuk-summary-list__key
            Proposal
          %dd.govuk-summary-list__value
            %p.govuk-body= @development.proposal
          %dd.govuk-summary-list__actions
            = link_to edit_development_path(@development), class: "govuk-link" do
              Edit
              %span.govuk-visually-hidden proposal

        .govuk-summary-list__row
          %dt.govuk-summary-list__key
            Address
          %dd.govuk-summary-list__value
            %p.govuk-body= @development.site_address
          %dd.govuk-summary-list__actions
            = link_to edit_development_path(@development), class: "govuk-link" do
              Edit
              %span.govuk-visually-hidden address

        .govuk-summary-list__row
          %dt.govuk-summary-list__key
            Dwellings
          %dd.govuk-summary-list__value
            %p.govuk-body=t('dwellings_count', count: @development.dwellings.count)
          %dd.govuk-summary-list__actions
            = link_to development_dwellings_path(@development), class: "govuk-link" do
              Manage
              %span.govuk-visually-hidden dwellings

= render 'partials/changelog'
