- content_for(:page_title) { page_title("Development " + @development.primary_application_number) }


.govuk-width-container
  = link_to "Back to all developments", developments_path, class: "govuk-back-link"

  .govuk-grid-row
    .govuk-grid-column-full-from-desktop
      %h1.govuk-heading-xl Development #{@development.primary_application_number}

  .govuk-tabs{"data-module" => "govuk-tabs"}
    %h2.govuk-tabs__title
      Contents
    %ul.govuk-tabs__list
      %li.govuk-tabs__list-item.govuk-tabs__list-item--selected
        %a.govuk-tabs__tab{:href => "#development-details"}
          Development details
      - if @development.dwellings.any?
        %li.govuk-tabs__list-item
          %a.govuk-tabs__tab{:href => "#statistics"}
            Statistics
      %li.govuk-tabs__list-item
        %a.govuk-tabs__tab{:href => "#changes-to-legal-agreement"}
          Changes to legal agreement

    %section#development-details.govuk-tabs__panel
      %h2.govuk-heading-l Development details

      - if @development.completion_response_needed?
        = render 'developer_response_required'
      - if @development.completion_response_filled?
        = render 'developer_response_given'

      %dl.govuk-summary-list{:class => "govuk-!-margin-bottom-9"}
        .govuk-summary-list__row
          %dt.govuk-summary-list__key
            Name
          %dd.govuk-summary-list__value
            %p.govuk-body= @development.name || 'Not yet added'
          %dd.govuk-summary-list__actions
            = link_to edit_development_path(@development), class: "govuk-link" do
              Edit
              %span.govuk-visually-hidden name

        .govuk-summary-list__row
          %dt.govuk-summary-list__key
            Status
          %dd.govuk-summary-list__value
            %span.govuk-tag{class: "govuk-tag-#{@development.state}"}= @development.state.titleize
          %dd.govuk-summary-list__actions
            - case @development.state
            - when 'draft'
              = link_to agree_confirmation_development_path(@development), class: "govuk-link" do
                Mark as agreed
            - when 'agreed'
              = link_to start_confirmation_development_path(@development), class: "govuk-link" do
                Mark as started
            - when 'started'
              = link_to complete_confirmation_development_path(@development), class: "govuk-link" do
                Mark as completed

        .govuk-summary-list__row
          %dt.govuk-summary-list__key
            Site address
          %dd.govuk-summary-list__value
            %p.govuk-body= @development.site_address
          %dd.govuk-summary-list__actions
            = link_to edit_development_path(@development), class: "govuk-link" do
              Edit
              %span.govuk-visually-hidden address

        .govuk-summary-list__row
          %dt.govuk-summary-list__key
            Planning Applications
          %dd.govuk-summary-list__value
            %p.govuk-body= @development.planning_applications.collect(&:application_number).join(', ')
          %dd.govuk-summary-list__actions
            = link_to development_planning_applications_path(@development), class: "govuk-link" do
              Manage
              %span.govuk-visually-hidden planning applications

        .govuk-summary-list__row
          %dt.govuk-summary-list__key
            Proposal
          %dd.govuk-summary-list__value
            %p.govuk-body= @development.proposal
          %dd.govuk-summary-list__actions
            = link_to edit_development_path(@development), class: "govuk-link" do
              Edit
              %span.govuk-visually-hidden proposal

        .govuk-summary-list__row
          %dt.govuk-summary-list__key
            Dwellings
          %dd.govuk-summary-list__value
            %p.govuk-body=t('dwellings_count', count: @development.dwellings.count)
          %dd.govuk-summary-list__actions
            = link_to development_dwellings_path(@development), class: "govuk-link" do
              Manage
              %span.govuk-visually-hidden dwellings

    %section#statistics.govuk-tabs__panel.govuk-tabs__panel--hidden
      %h2.govuk-heading-l Statistics
      - if @development.dwellings.any?
        = render 'partials/statistics'

    %section#changes-to-legal-agreement.govuk-tabs__panel.govuk-tabs__panel--hidden
      %h2.govuk-heading-l Changes to legal agreement

      = render 'partials/changelog'
