= @development.application_number
= @development.proposal
= @development.site_address
= link_to 'edit', edit_development_path(@development), class: "govuk-link", "aria-label": "edit development #{@development.application_number}"
