- content_for(:page_title) { page_title('Log in') }

.govuk-width-container

  %h1.govuk-heading-xl= t('authentication.log_in')

  .govuk-grid-row
    .govuk-grid-column-full

      = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|

        = f.error :email

        = f.error_notification

        .govuk-form-group
          = f.input :email, required: true, input_html: { class: "govuk-input govuk-input--width-20" }
        .govuk-form-group
          = f.input :password, label: 'Password', required: true, input_html: { class: "govuk-input govuk-input--width-20" }

        - if devise_mapping.rememberable?
          .govuk-form-group
            .govuk-checkboxes
              = f.input :remember_me, wrapper: :inline_checkbox

        .actions
          = f.submit "Log in", class: "govuk-button", "data-module": "govuk-button"
