- content_for(:page_title) { t("page_title_prefix") + "log in" }

.govuk-width-container

  %h1.govuk-heading-xl= t('authentication.log_in')

  .govuk-grid-row
    .govuk-grid-column-full

      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .govuk-form-group
          = f.label :email, class: "govuk-label"
          = f.email_field :email, autofocus: true, autocomplete: "email", class: "govuk-input govuk-input--width-20"
        .govuk-form-group
          = f.label :password, class: "govuk-label"
          = f.password_field :password, autocomplete: "current-password", class: "govuk-input govuk-input--width-20"

        - if devise_mapping.rememberable?
          .govuk-form-group
            .govuk-checkboxes
              .govuk-checkboxes__item
                = f.check_box :remember_me, class: "govuk-checkboxes__input", name: "remember_me", type: "checkbox", value: "remember_me"
                = f.label :remember_me, for: "remember_me", class: "govuk-label govuk-checkboxes__label"

        .actions
          = f.submit "Log in", class: "govuk-button", "data-module": "govuk-button"

      -# = render "devise/shared/links"
