!!!
%html.govuk-template.app-html-class{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title= content_for?(:page_title) ? yield(:page_title) : "Southwark Affordable Homes Monitoring"
    = csrf_meta_tags
    = csp_meta_tag
    %meta{:content => "width=device-width, initial-scale=1, viewport-fit=cover", :name => "viewport"}/
    %meta{:content => "blue", :name => "theme-color"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %link{:href => "/images/favicon.ico", :rel => "shortcut icon", :sizes => "16x16 32x32 48x48", :type => "image/x-icon"}/

    = stylesheet_link_tag 'application', media: 'all'
    %link{:href => "https://use.typekit.net/kif6luo.css", :rel => "stylesheet"}/
    = javascript_pack_tag 'application'

  %body.govuk-template__body.app-body-class

    = render "partials/flashes"

    :javascript
      document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');

    %a.govuk-skip-link{:href => "#main-content"} Skip to main content

    = render "partials/header"
    = render "partials/phase_banner"
    = render "partials/subnavigation" if current_user
    %main#main-content.govuk-main-wrapper.app-main-class{:role => "main"}
      = yield

    = javascript_pack_tag 'govuk'
